/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

## Mega
.debris
Rubbish

## NextCloud
.owncloudsync.log
._sync_*

## IDEAs
.idea
.vscode
.editorconfig

## Composer
composer.phar
vendor

## NodeJS
node_modules

##Laravel
public/storage
public/js
public/css
.env

/database