@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap);
body{
  background-color: #202020;
  color: white;
}

nav{
  background-color: #272829;
  
}

footer{
  background-color: #272829;
}

#logo-img-navbar{
    margin-left: 30px; 
    width:60px;
    height:60px;
}

#navbar-center{
  font-size: 1.8rem;
}

#navbarSupportedContent{
    margin-right: 30px;
}

.ult-lancamentos{
    text-align: center;
}

.paginacao{
  color: black;
}

/*********************************/

.carousel{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 400px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    box-sizing: border-box;
  }

input[type=radio] {
  display:none;
}

#img-carousel{
    height: 443.750px;
    width: 300px;
}

.card-carousel {
  position:absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  background: blue;
}

#item-1:checked ~ .cards #movie-3, #item-2:checked ~ .cards #movie-1, #item-3:checked ~ .cards #movie-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #movie-2, #item-2:checked ~ .cards #movie-3, #item-3:checked ~ .cards #movie-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #movie-1, #item-2:checked ~ .cards #movie-2, #item-3:checked ~ .cards #movie-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
  
/*-------------------------------------*/

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

#movie-style a {
  text-decoration: none;
  color: inherit;
}

#movie-style a:hover {
  color: #6ABCEA;
}

.intro {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6ABCEA;
}

.container-movie {
  color: black;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.manOfSteel {
  /*background: url("http://henrycavill.org/images/Films/2013-Man-of-Steel/posters/3-Walmart-Superman-a.jpg");*/
  background-size: cover;
}

.babyDriver {
  /*background: url("https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/baby-driver-poster.jpg");*/
  background-size: cover;
}

.theDarkTower {
  /*background: url("http://cdn.collider.com/wp-content/uploads/2017/03/the-dark-tower-poster.jpg");*/
  background-size: cover;
  background-position: 100% 100%;
}

.bladeRunner2049 {
  /*background: url("http://cdn.collider.com/wp-content/uploads/2017/05/blade-runner-2049-poster-ryan-gosling.jpeg");*/
  background-size: cover;
  background-position: 100% 80%;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.imax-logo {
  width: 50px;
  height: 15px;
  background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}

